<div>
  <link href="./card.css" rel="stylesheet" />
  <div class="card-container card">
    <span class="card-text">Raees Khan</span>
    <span class="card-text1">Group Role:</span>
    <div class="card-container1">
      <div class="card-point">
        <svg viewBox="0 0 877.7142857142857 1024" class="card-icon">
          <path
            d="M877.714 512c0 242.286-196.571 438.857-438.857 438.857s-438.857-196.571-438.857-438.857 196.571-438.857 438.857-438.857 438.857 196.571 438.857 438.857z"
          ></path>
        </svg>
        <span class="card-text2">Group Leader</span>
      </div>
    </div>
    <div class="card-container2">
      <img
        alt="image"
        src="/playground_assets/pic-1500h.jpg"
        class="card-image"
      />
      <div class="card-container3">
        <span class="card-text3">Raees Khan</span>
        <span class="card-text4">View Portfolio</span>
      </div>
    </div>
  </div>
</div>
