<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <div class="footer-container1">
      <span class="footer-text"><span>Contact</span></span>
      <div class="footer-container2">
        <span class="footer-text1">
          <span>Raees: Raees.Khan@city.ac.uk</span>
        </span>
        <span class="footer-text2">
          <span>Mohammed: Mohammed.Rahman.40@city.ac.uk</span>
        </span>
        <span class="footer-text3">
          <span>Habib: Habib.Ali@city.ac.uk</span>
        </span>
        <span class="footer-text4">
          <span>Ikhlaas: Mohammad.Lal-Mahomed@city.ac.uk</span>
        </span>
        <span class="footer-text5">
          <span>Hasan: Hasan.Mahmud@city.ac.uk</span>
        </span>
        <a
          href="https://www.city.ac.uk"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-link"
        >
          <img
            alt="image"
            src="public/playground_assets/cityuni-200h.png"
            class="footer-image"
          />
        </a>
      </div>
    </div>
  </div>
</div>
